@input_time: 0.6s;
@master_color: deepskyblue;
.small{
    .select_box{
        margin: 0 5rem;
        .search_image{
            width: 1.2rem;
            height: 1.2rem;
            right: 0.5rem;
            top: 0.25rem;
        }
    }
    .input_box{
        font-size:0.6rem;
    }   
}
.normal{
    .select_box{
        margin: 0 3rem;
        .search_image{
            width: 1.5rem;
            height: 1.5rem;
            right: 0.5rem;
            top: 0;
        }
    }
    .input_box{
        font-size:0.8rem;
    }   
}
.large{
    .select_box{
        margin: 0 1rem;
        .search_image{
            width: 1.8rem;
            height: 1.8rem;
            right: 0.5rem;
            top: -0.25rem;
        }
    }
    .input_box{
        font-size:1rem;
    }
}
.select_box{
    position: relative;
}
.input_box{
    padding: 0 0.8rem;
    padding-right:2rem;
    border-bottom: 1px solid #dfdfdf;
    transition:all @input_time;
    -moz-transition:all @input_time;
    -webkit-transition:all @input_time;
    -o-transition:all @input_time;
}
.search_image{
    bottom: 0;
    margin: 0 auto;
    right: 0.5rem;
    position: absolute;
    background-image: url(../../asset/images/search.png);
    background-size: cover;
    transition:all @input_time;
    -moz-transition:all @input_time;
    -webkit-transition:all @input_time;
    -o-transition:all @input_time;
}
.select_box:hover {
    .input_box {
        border-bottom: 1px solid #fff;
        box-shadow: 0 3px 0 @master_color;
    }
    .search_image {
        background-image: url(../../asset/images/search_hover.png);
    }
} 