.taro-table{
    margin:0 0.5rem;
    font-size: 0.8rem;
}
.taro-table-body{
    font-size: 0.6rem;
}
.taro-table-head view, .taro-table-tr view{
    width:3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:center;
    line-height:1.2rem;
}